*{
    font-family: 'Barlow', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(to right, black,#171717);
    

}
header{
    margin: 38px 125px 136px 477px;
}
.linkheader{
    background:transparent;
    margin-left:125px;
    width:77px;
    height:18px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    cursor:pointer;
    border:none;
    }
.airmax{
    height: 877.6px;
    width: 1015.5px;
    position:absolute;
    left:577px;
    top:52px;
    display: inline-block;
}

h1{
    font-style: italic;
    font-weight: 900;
    font-size: 187.6px;
    line-height: 225px;
    color: #FFFFFF;
    position: absolute;
    left: 159px;
    top: 192px;
    display:inline-block;
    }
    .elipse{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 854px;
        top: 346px;
        backdrop-filter: blur(1px);
        background: transparent;
    }
    .nike{font-style: italic;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.15em;
        color: #CEDADD;
        position: absolute;
        height: 54px;
        left: 159px;
        top: 429px;
        display: inline-block;
    }
    .valor{
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    position: absolute;
    width: 81px;
    height: 54px;
    left: 159px;
    top: 509px;
    }

    p{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 218.5%;
    letter-spacing: 0.05em;
    color: #9AA3A9;
    position: absolute;
    width: 422px;
    height: 203px;
    left: 159px;
    top: 581px;
    }

    aside{
    position: absolute;
    width: 105px;
    height: 973px;
    left: 0px;
    top: 0px;
    background: #ABB6C3;
    }

    h3{
    transform: rotate(90.02deg);
    position: absolute;
    width: 416px;
    height: 26px;
    left:-159px;
    top: 365.01px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1.38em;
    color: #252525;
    }
    .swoosh{
        position: absolute;
        width: 62px;
        height: 50px;
        left: 24px;
        top: 7px;
    }
    .linkheader:hover{
      opacity: .7;
      transform:scale(1.1);
      transition:all 0.5s;
  }
  .linkheader:active{
      opacity: 0.2;
  }

    .cart{
     position: absolute;
     left: 159px;
       top: 815px;
      background: #333;
      color: #ccc;
      width: 200px;
      height: 60px;
      border: 0;
      font-size: 18px;
      border-radius: 20px;
      transition: .6s;
      overflow: hidden;
      &:focus{
        outline: 0;
        letter-spacing: 0.15em;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover{
        background: #87969c;
        cursor: pointer;
        &:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: .7s;
        }
        &:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: 0.7s;
        }
      }
    }
    
    



